body {
    color: white;
}

img {
    width: 40%;
    height: auto;
    border-radius: 50% 50%;
    box-shadow: #de06a0 0 0 35px 0;

}

.info {
    width: 80%;
    margin: 25px auto;
    text-align: center;
    border-radius: 30px;
    /*border: white 1px solid;*/
    padding-top: 15px;
    padding-bottom: 15px;
}

.dropdown {
    cursor: pointer;
    border: #de06a0 1px solid;
    border-radius: 30px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.gold-text {
    color: goldenrod;
}
